.td {
  vertical-align: middle;
  text-align: left;
}

.th {
  position: sticky;
  z-index: 1;
  background-color: lightGray;
}

input[type="date"]::-webkit-inner-spin-button {
  /*Does it work on all  platformes? */
  -webkit-appearance: none;
  display: none;
}
